* {
    margin: 0;
    padding: 0;
    --linear-gradient-color: linear-gradient(to right, rgb(219, 224, 201), rgb(235, 217, 181));
    --linear-gradient-orange-color: linear-gradient(to right, rgb(188, 108, 37),rgb(221, 161, 94));
    --red-color:  #FF4500;
    --green-color: #4CAF50;
    --white-color: #f0f0f0;
    --light-brown-color: rgb(212, 163, 115);
    --dark-green-color: rgb(40, 54, 24);
}

@font-face {
  font-family: 'plante';
  src: url(fonts/Plante.ttf) format('truetype');
}

header{
  display: flex;
  gap: 2rem;
  background-image: var(--linear-gradient-orange-color);
  padding: 2rem;
}
.material-icons.book-icon{
  color:var(--white-color) ;
  font-size: 3rem;
}
header h1{
  font-family: 'plante' , sans-serif;
  font-size: 3rem;
  font-weight: 300;
  color: var(--white-color);
}
body {

    font-family: 'Arial', sans-serif;
    background-color: var(--white-color);
    background: var(--linear-gradient-color); 
    font-family: 'Helvetica Neue', sans-serif; 
    color: #ffffff; 
    text-align: center; 
}

  .addBookBtn {
    color: white;
    display: block;
    margin: 20px auto;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: var(--dark-green-color);
  }
  .addBookBtn:hover{
    background-color: rgb(221, 161, 94);
  }
  
  .bookCard {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    border: none;
    max-width: 400px;
    min-width:270px;
    margin: 20px auto; 
  }
  .aboutBook{
    display: grid;
    align-items: start;
    justify-items: start;
  }
  .bookCard label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    opacity: .8;
  }
  
  .bookCard input,
  .bookCard select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }
  
  .bookCard fieldset {
    display: grid;
    justify-content: center;
    margin: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  fieldset div{
    display: grid;
    grid-template-columns: 1fr 6fr;

  }
  
  
  .bookCard fieldset legend {
    font-weight: bold;
    opacity: .77;
  }
  
  .bookCard button {
    background-color: var(--green-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bookCard button.discard {
    background-color: var(--red-color); 
  }
  .dialogButtons{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  .booksContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap ;
    

  }

 dialog.bookCard{
  background-color:rgb(239, 164, 100);
  box-shadow: 0 0 10px 1px gray;
 }
 .aboutBook input{
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
 }